<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath*:/spring/interstudents-service-context.xml"/>
    <import resource="transactionContext.xml"/>

    <context:annotation-config/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>url.properties</value>
        </property>
    </bean>

    <bean id="mappingJackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
    </bean>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJackson2HttpMessageConverter" />
            </list>
        </property>
    </bean>

    <bean id="specialityRestClient" class="kotov.interstudents.common.rest.client.SpecialityRestClient">
        <property name="restTemplate" ref="restTemplate" />
        <property name="serviceUrl" value="${specialityServiceUrl}" />
    </bean>

    <bean id="countryRestClient" class="kotov.interstudents.common.rest.client.CountryRestClient">
        <property name="restTemplate" ref="restTemplate" />
        <property name="serviceUrl" value="${countryServiceUrl}" />
    </bean>
</beans>