<div class="" ng-controller="LoginCtrl" layout="column" layout-align="center center">
  <md-content >
    <label>Войдите в систему</label>
  </md-content>

  <md-content >
    <md-input-container >
      <label >Логин</label>
      <input ng-model="credentials.login" >
    </md-input-container>

    <md-input-container >
      <label>Пароль</label>
      <input type="password" ng-model="credentials.password">
    </md-input-container>

  </md-content>
      <md-button ng-click="login()" class="md-raised">Button</md-button>
</div>