<div layout="column" layout-align="center center" flex>
      <md-whiteframe class="md-whiteframe-z3 login-form">
            <md-content layout-padding >
                  <h2>Приложение "Иностранные студенты"</h2>
                  <h4>Возможности приложения</h4>
                  <ul>
                        <li>Автоматизированный учет</li>
                        <li>Составление отчетов</li>
                        <li>Подсчет статистики</li>
                        <li>Экспорт в Microsoft Excel</li>
                  </ul>
                  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                  <md-progress-linear class="md-warn" md-mode="buffer" value="{{determinateValue}}" md-buffer-value="{{determinateValue2}}"></md-progress-linear>
            </md-content>
      </md-whiteframe>
</div>

