<div class="app-context md-whiteframe-z1" >
    <md-tabs role="tablist"  md-theme="indigo" class="app-context">
        <md-tab class="md-transition-left">
            <md-tab-label>
                <h3>По специальностям</h3>
            </md-tab-label>
            <div role="tabpanel" class="tabpanel-container">
                <div layout="row">
                    <span flex="90"></span>
                    <div flex>
                        <md-button download="dataStatisticBySpeciality.xls"   href="" class="md-icon-button" onclick="return ExcellentExport.excel(this, 'dataStatisticBySpeciality', 'Sheet Name Here');" aria-label="Администрирование">
                            <md-tooltip>
                                Выгрузить в Excel
                            </md-tooltip>
                            <md-icon md-svg-icon="img/icons/file-excel.svg" style="color: #3949ab;"></md-icon>
                        </md-button>
                    </div>
                </div>
                <md-content layout-padding class="data-context">
                    <solo-table items-on-page = "50" make-sortable>
                        <table id="dataStatisticBySpeciality" class="table table-striped table-bordered" >
                            <thead>
                            <tr>
                                <th sort-by='speciality.specialityName'>Специальность</th>
                                <th sort-by='count0'>Курс 0</th>
                                <th sort-by='count1'>Курс 1</th>
                                <th sort-by='count2'>Курс 2</th>
                                <th sort-by='count3'>Курс 3</th>
                                <th sort-by='count4'>Курс 4</th>
                                <th sort-by='count5'>Курс 5</th>
                                <th sort-by='countII'>Курс II</th>
                                <th sort-by='countIII'>Курс III</th>
                                <th sort-by='countK'>Курс K</th>
                                <th sort-by='countA'>Курс A</th>
                                <th sort-by='countAll'>Всего</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="item in statisticBySpeciality" >
                                <td>{{item.speciality.specialityName}}</td>
                                <td>{{item.count0}}</td>
                                <td>{{item.count1}}</td>
                                <td>{{item.count2}}</td>
                                <td>{{item.count3}}</td>
                                <td>{{item.count4}}</td>
                                <td>{{item.count5}}</td>
                                <td>{{item.countII}}</td>
                                <td>{{item.countIII}}</td>
                                <td>{{item.countK}}</td>
                                <td>{{item.countA}}</td>
                                <td>{{item.countAll}}</td>
                            </tr>
                        </table>
                    </solo-table>
                </md-content>
            </div>
        </md-tab>
        <md-tab class="md-transition-right">
            <md-tab-label>
                <h3>По странам</h3>
            </md-tab-label>
            <div role="tabpanel" class="tabpanel-container">
                <div layout="row">
                    <span flex="90"></span>
                    <div flex>
                        <md-button download="dataStatisticByCountry.xls"   href="" class="md-icon-button" onclick="return ExcellentExport.excel(this, 'dataStatisticByCountry', 'Sheet Name Here');" aria-label="Администрирование">
                            <md-tooltip>
                                Выгрузить в Excel
                            </md-tooltip>
                            <md-icon md-svg-icon="img/icons/file-excel.svg" style="color: #3949ab;"></md-icon>
                        </md-button>
                    </div>
                </div>
                <md-content layout-padding class="data-context">
                    <solo-table items-on-page = "50" make-sortable>
                        <table id="dataStatisticByCountry" class="table table-striped table-bordered" >
                            <thead>
                            <tr>
                                <th sort-by='country.countryName'>Страна</th>
                                <th sort-by='count0'>Курс 0</th>
                                <th sort-by='count1'>Курс 1</th>
                                <th sort-by='count2'>Курс 2</th>
                                <th sort-by='count3'>Курс 3</th>
                                <th sort-by='count4'>Курс 4</th>
                                <th sort-by='count5'>Курс 5</th>
                                <th sort-by='countII'>Курс II</th>
                                <th sort-by='countIII'>Курс III</th>
                                <th sort-by='countK'>Курс K</th>
                                <th sort-by='countA'>Курс A</th>
                                <th sort-by='countAll'>Всего</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="item in statisticByCountry" >
                                <td>{{item.country.countryName}}</td>
                                <td>{{item.count0}}</td>
                                <td>{{item.count1}}</td>
                                <td>{{item.count2}}</td>
                                <td>{{item.count3}}</td>
                                <td>{{item.count4}}</td>
                                <td>{{item.count5}}</td>
                                <td>{{item.countII}}</td>
                                <td>{{item.countIII}}</td>
                                <td>{{item.countK}}</td>
                                <td>{{item.countA}}</td>
                                <td>{{item.countAll}}</td>
                            </tr>
                        </table>
                    </solo-table>
                </md-content>
            </div>
        </md-tab>
    </md-tabs>
    </md-tabs></md-tabs>
</div>