<div ng-controller="StudentsCtrl" class="app-context md-whiteframe-z4" >
    <md-tabs role="tablist"  md-theme="indigo" class="app-context">
        <md-tab class="md-transition-left">
            <md-tab-label>
                <h3>  По специальностям</h3>
            </md-tab-label>
            <div role="tabpanel" class="tabpanel-container">
               <!--                     <b layout="row" layout-align="center center" layout-margin>
                                    </b>
                                    <md-button ng-click="showAdvanced($event)">
                                        <md-icon  icon="img/icons/ic_border_color_24px.svg"></md-icon>
                                    </md-button>-->
                <div class="data-context">
                    <solo-table items-on-page = "20" make-sortable>
                        <div class="md-whiteframe-z1">
                            <md-select ng-model="queryFaculty" placeholder="Выбрать факультет">
                                <md-option ng-value="faculty.facultyName" ng-repeat="faculty in faculties">{{ faculty.facultyName }}</md-option>
                            </md-select>
                            <md-select ng-model="querySpeciality" placeholder="Выбрать специальность">
                                <md-option ng-value="speciality.specialityName" ng-repeat="speciality in specialities | filter:queryFaculty">{{ speciality.specialityName }}</md-option>
                            </md-select>
                        </div>



                        <!-- Показываем данные пейджинга: сколько всего страниц, на какой находимся, сколько записей во всей таблице -->
                        <div>Страница {{pager.currentPage}} of {{pager.foundPages}}. Всего студентов:  {{pager.found}}</div>

                        <!-- Эта таблица обязательно  должна присутствовать в директиве solo-table, что, в общем то, очевидно. -->
                        <table class="table table-striped table-bordered" >
                            <thead>
                            <tr>
                                <th sort-by='lastName'>Фамилия Имя Отчество</th>
                                <th sort-by='' >Курс</th>
                                <th sort-by=''>Факультет</th>
                                <th sort-by=''>Специальность</th>
                                <th sort-by='educationInfo.studyForm'>Форма обучения</th>
                                <th sort-by='educationInfo.orderNumber'>Номер приказа</th>
                                <th sort-by='country.countryName'>Страна</th>
                                <th sort-by='personalInfo.pasportNumber'>Паспортные данные</th>
                                <th sort-by='registrationAddress'>Адресс регистрации</th>
                                <th></th>
                            </tr>
                            </thead>

                            <!--
                            В атрибуте контроллера "original" содержатся все данные, предоставленные провайдером solo-table-data.
                            В атрибуте "filtered" - отфильтрованные данные, но т.к. у нас простейший пример и никаких фильтров нет,
                            то filtered идентичен original
                            -->
                            <tr ng-repeat="item in filtered = (original| filter:querySpeciality)" >
                                <td>{{item.lastName}} {{item.firstName}} {{item.middleName}}</td>
                                <td>{{item.course}}</td>
                                <td>{{item.group.speciality.faculty.facultyName}}</td>
                                <td>{{item.group.speciality.specialityName}}</td>
                                <td>{{item.educationInfo.studyForm}}</td>
                                <td>{{item.educationInfo.orderNumber}}</td>
                                <td>{{item.country.countryName}}</td>
                                <td>{{item.personalInfo.pasportNumber}}</td>
                                <td>{{item.registrationAddress}}</td>
                                <!--<td><md-icon icon="img/icons/ic_border_color_24px.svg"></md-icon></td>-->
                            </tr>

                        </table>

                        <!-- Здесь реализован переход по страницам -->
                        <div>
                            <a href="" ng-click="gotoFirstPage()">Первая страница | </a>
                            <a href="" ng-click="gotoPrevPage()"> &larr;назад | </a>
                            <a href="" ng-click="gotoNextPage()">вперед &rarr; | </a>
                            <a href="" ng-click="gotoLastPage()">Последняя страница </a>
                        </div>

                    </solo-table>
                </div>
            </div>
        </md-tab>
        <md-tab class="md-transition-right">
            <md-tab-label>
                <h3>По странам</h3>
            </md-tab-label>
            <div role="tabpanel" class="tabpanel-container">
                <div id="testApp2">
                    <solo-table items-on-page = "20" make-sortable>
                        <div class="md-whiteframe-z1">
                            <md-select ng-model="queryCountry" placeholder="Выбрать страну">
                                <md-option ng-value="country.countryName" ng-repeat="country in countries">{{ country.countryName }}</md-option>
                            </md-select>
                        </div>
                        <!-- Показываем данные пейджинга: сколько всего страниц, на какой находимся, сколько записей во всей таблице -->
                        <div>Страница {{pager.currentPage}} of {{pager.foundPages}}. Всего студентов:  {{pager.found}}</div>

                        <!-- Эта таблица обязательно  должна присутствовать в директиве solo-table, что, в общем то, очевидно. -->
                        <table class="table table-striped table-bordered" >
                            <thead>
                            <tr>
                                <th sort-by='lastName'>Фамилия Имя Отчество</th>
                                <th sort-by='course'>Курс</th>
                                <th sort-by='group.speciality.specialityName'>Специальность</th>
                                <th sort-by='educationInfo.orderNumber'>Номер приказа</th>
                                <th sort-by='personalInfo.pasportNumber'>Паспортные данные</th>
                                <th sort-by='registrationAddress'>Адресс регистрации</th>
                                <th sort-by='personalInfo.birthPlace'>Место рождения</th>
                                <th sort-by='educationInfo.incomingRbDate'>Дата въезда в РБ</th>
                            </tr>
                            </thead>

                            <!--
                            В атрибуте контроллера "original" содержатся все данные, предоставленные провайдером solo-table-data.
                            В атрибуте "filtered" - отфильтрованные данные, но т.к. у нас простейший пример и никаких фильтров нет,
                            то filtered идентичен original
                            -->

                            <tr ng-repeat="item in filtered = (original | filter:queryCountry)" >
                                <td>{{item.lastName}} {{item.firstName}} {{item.middleName}}</td>
                                <td>{{item.course}}</td>
                                <td>{{item.group.speciality.specialityName}}</td>
                                <td>{{item.educationInfo.orderNumber}}</td>
                                <td>{{item.personalInfo.pasportNumber}}</td>
                                <td>{{item.registrationAddress}}</td>
                                <td>{{item.personalInfo.birthPlace}}</td>
                                <td>{{item.educationInfo.incomingRbDate}}</td>
                            </tr>

                        </table>

                        <!-- Здесь реализован переход по страницам -->
                        <div>
                            <a href="" ng-click="gotoFirstPage()">Первая страница | </a>
                            <a href="" ng-click="gotoPrevPage()"> &larr;назад | </a>
                            <a href="" ng-click="gotoNextPage()">вперед &rarr; | </a>
                            <a href="" ng-click="gotoLastPage()">Последняя страница </a>
                        </div>

                    </solo-table>
                </div>
            </div>
        </md-tab>
        <md-tab class="md-transition-right">
            <md-tab-label>
                <h3>По группам</h3>
            </md-tab-label>
            <div role="tabpanel" class="tabpanel-container">
                <div id="testApp3">
                    <solo-table items-on-page = "20" make-sortable>
                        <div class="md-whiteframe-z1">
                            <md-select ng-model="querySpeciality" placeholder="Выбрать специальность">
                                <md-option ng-value="speciality.specialityName" ng-repeat="speciality in specialities">{{ speciality.specialityName }}</md-option>
                            </md-select>
                            <md-select ng-model="queryGroup" placeholder="Выбрать группу">
                                <md-option ng-value="group.groupName" ng-repeat="group in groups | filter:querySpeciality">{{ group.groupName }}</md-option>
                            </md-select>
                        </div>
                        <!-- Показываем данные пейджинга: сколько всего страниц, на какой находимся, сколько записей во всей таблице -->
                        <div>Страница {{pager.currentPage}} of {{pager.foundPages}}. Всего студентов:  {{pager.found}}</div>

                        <!-- Эта таблица обязательно  должна присутствовать в директиве solo-table, что, в общем то, очевидно. -->
                        <table class="table table-striped table-bordered" >
                            <thead>
                            <tr>
                                <th>Фамилия Имя Отчество</th>
                                <th>Курс</th>
                                <th>Группа</th>
                                <th>Номер приказа</th>
                                <th>Страна</th>
                                <th>Паспортные данные</th>
                                <th>Адресс регистрации</th>
                                <th>Место рождения</th>
                            </tr>
                            </thead>

                            <!--
                            В атрибуте контроллера "original" содержатся все данные, предоставленные провайдером solo-table-data.
                            В атрибуте "filtered" - отфильтрованные данные, но т.к. у нас простейший пример и никаких фильтров нет,
                            то filtered идентичен original
                            -->

                            <tr ng-repeat="item in filtered = (original | filter:queryGroup)" >
                                <td>{{item.lastName}} {{item.firstName}} {{item.middleName}}</td>
                                <td>{{item.course}}</td>
                                <td>{{item.group.groupName}}</td>
                                <td>{{item.educationInfo.orderNumber}}</td>
                                <td>{{item.country.countryName}}</td>
                                <td>{{item.personalInfo.pasportNumber}}</td>
                                <td>{{item.registrationAddress}}</td>
                                <td>{{item.personalInfo.birthPlace}}</td>
                            </tr>

                        </table>

                        <!-- Здесь реализован переход по страницам -->
                        <div>
                            <a href="" ng-click="gotoFirstPage()">Первая страница | </a>
                            <a href="" ng-click="gotoPrevPage()"> &larr;назад | </a>
                            <a href="" ng-click="gotoNextPage()">вперед &rarr; | </a>
                            <a href="" ng-click="gotoLastPage()">Последняя страница </a>
                        </div>

                    </solo-table>
                </div>
            </div>
        </md-tab>
    </md-tabs>
    </md-tabs></md-tabs>
</div>