<md-dialog aria-label="Студент">
	<form name="studentForm">
		<md-dialog-content class="sticky-container">
			<md-subheader md-theme="indigo" class="md-sticky-no-effect">Студент</md-subheader>
			<md-content>
				<md-content class="md-padding">
					<div layout layout-sm="column">
						<md-input-container flex>
							<label>Фамилия</label>
							<input md-maxlength="30" required name="lastName" ng-model="student.lastName">
							<div class="errors" ng-messages="studentForm.lastName.$error">
								<div ng-message="required">Обязательно для заполнения</div>
								<div ng-message="md-maxlength">Мах 30 символов</div>
							</div>
						</md-input-container>
						<md-input-container flex>
							<label>Имя</label>
							<input md-maxlength="30" required name="firstName" ng-model="student.firstName"  value="{{student.firstName}}">
							<div class="errors" ng-messages="studentForm.firstName.$error">
								<div ng-message="required">Обязательно для заполнения</div>
								<div ng-message="md-maxlength">Мах 30 символов</div>
							</div>
						</md-input-container>
						<md-input-container flex>
							<label>Отчество</label>
							<input md-maxlength="30" required name="middleName" ng-model="student.middleName" value="{{student.middleName}}">
							<div class="errors" ng-messages="studentForm.middleName.$error">
								<div ng-message="required">Обязательно для заполнения</div>
								<div ng-message="md-maxlength">Мах 30 символов</div>
							</div>
						</md-input-container>
					</div>
					<p>Информация об образовании</p>
					<div layout layout-sm="column">
						<md-input-container>
							<md-select ng-model="queryFaculty">
								<md-option ng-value="">Факультет</md-option>
								<md-option ng-value="faculty.facultyName" ng-repeat="faculty in faculties">{{ faculty.facultyName }}</md-option>
							</md-select>
						</md-input-container>
						<md-input-container>
							<md-select ng-model="querySpeciality">
								<md-option ng-value="">Специальность</md-option>
								<md-option ng-value="speciality.specialityName" ng-repeat="speciality in specialities | filter:queryFaculty">{{ speciality.specialityName }}</md-option>
							</md-select>
						</md-input-container>
						<md-input-container>
							<md-select required name="group" ng-model="student.group.id">
								<md-option ng-value="">Группа</md-option>
								<md-option ng-value="group.id" ng-repeat="group in groups  | filter:querySpeciality"> {{group.course.courseName}} {{group.groupName}}</md-option>
							</md-select>
							<div class="errors" ng-messages="studentForm.group.$error" ng-if="studentForm.$dirty">
								<div ng-message="required">Необходимо выбрать</div>
							</div>
						</md-input-container>
					</div>
					<div layout layout-sm="column">
						<div flex="25">
							<md-input-container flex>
								<label>Что окончил</label>
								<input  ng-model="student.graduated">
							</md-input-container>
						</div>
						<div flex="25">
							<md-input-container flex>
								<label>Дата окончания</label>
								<input  ng-model="student.graduatedDate">
							</md-input-container>
						</div>
						<div flex="25">
							<md-input-container flex>
								<label>Форма обучения</label>
								<input ng-model="student.studyForm">
							</md-input-container>
						</div>
						<div flex="25">
							<md-input-container flex>
								<label>Номер приказа</label>
								<input ng-model="student.orderNumber">
							</md-input-container>
						</div>
					</div>
					<div layout layout-sm="column">
						<div flex="25">
							<md-input-container flex>
								<label>Тип приглашения</label>
								<input ng-model="student.incomeType">
							</md-input-container>
						</div>
						<div flex="25">
							<md-input-container flex>
								<label>Приглашающая сторона</label>
								<input ng-model="student.invitingPart">
							</md-input-container>
						</div>
						<div flex="25">
							<md-input-container flex>
								<label>Дата приглашения</label>
								<input ng-model="student.inviteDate">
							</md-input-container>
						</div>
						<div flex="25">
							<md-input-container flex>
								<label>Дата прибытия</label>
								<input  ng-model="student.incomingRbDate">
							</md-input-container>
						</div>
					</div>
					<div layout layout-sm="column">
						<div flex="25">

						</div>
						<div flex="25">

						</div>
						<div flex="25">

						</div>
						<div flex="25">

						</div>
					</div>
					<p style="padding-top: 30px;">Личная информация</p>
					<div layout layout-sm="column">
						<div flex="25">
							<md-input-container>
								<md-select required name="country" ng-model="student.country.id" placeholder="Страна">
									<md-option ng-value="country.id" ng-repeat="country in countries">{{ country.countryName }}</md-option>
								</md-select>
								<div class="errors" ng-messages="studentForm.country.$error" ng-if="studentForm.$dirty">
									<div ng-message="required">Необходимо выбрать</div>
								</div>
							</md-input-container>
						</div>
						<div flex="25">
							<md-input-container>
								<md-select required name="hostel" ng-model="student.hostel.id" placeholder="Общежитие">
									<md-option ng-value="hostel.id" ng-repeat="hostel in hostels">{{ hostel.hostelName }}</md-option>
								</md-select>
								<div class="errors" ng-messages="studentForm.hostel.$error" ng-if="studentForm.$dirty">
									<div ng-message="required">Необходимо выбрать</div>
								</div>
							</md-input-container>
						</div>
						<div flex="25">
							<md-input-container>
								<label>Имя латиницей</label>
								<input ng-model="student.fioLatin">
							</md-input-container>
						</div>
					</div>
					<div layout layout-sm="column">
						<md-input-container flex>
							<label>Адрес регистрации</label>
							<input ng-model="student.registrationAddress">
						</md-input-container>
						<md-input-container>
							<label>Дата окончания регистрации</label>
							<input ng-model="student.registrationEndDate">
						</md-input-container>
					</div>
					<div layout layout-sm="column">
						<div flex="25">
							<md-input-container>
								<label>Дата рождения</label>
								<input ng-model="student.birthDate">
							</md-input-container>
						</div>
						<div flex="25">
							<md-input-container>
								<label>Место рождения</label>
								<input ng-model="student.birthPlace">
							</md-input-container>
						</div>
						<div flex="25">
							<md-input-container>
								<label>Пол</label>
								<input ng-model="student.gender">
							</md-input-container>
						</div>
						<div flex="25">

						</div>
					</div>
					<div layout layout-sm="column">
						<div flex="25">
							<md-input-container>
								<label>Номер паспорта</label>
								<input ng-model="student.pasportNumber">
							</md-input-container>
						</div>
						<div flex="25">
							<md-input-container>
								<label>Срок действия паспорта</label>
								<input ng-model="student.pasportValidity">
							</md-input-container>
						</div>
						<div flex="25">
							<md-input-container>
								<label>Номер визы</label>
								<input ng-model="student.visaNumber">
							</md-input-container>
						</div>
						<div flex="25">
							<md-input-container>
								<label>Срок действия визы</label>
								<input ng-model="student.visaEndDate">
							</md-input-container>
						</div>
					</div>
				</md-content>
			</md-content>
		</md-dialog-content>
		<div class="md-actions" layout="row">
			<span flex></span>
			<md-button ng-click="cancel()" class="md-raised md-warn">
				Отмена
			</md-button>
			<md-button ng-click="save()" ng-disabled="studentForm.$invalid" class="md-raised md-primary">
				Сохранить
			</md-button>
		</div>
	</form>
</md-dialog>

