<div layout="column" layout-fill>
    <md-tabs flex style="min-height: 500px;">
        <md-tab label="По специальностям" >
            <md-tab-body>
                <div layout="row" layout-align="center center">
                    <md-whiteframe class="md-whiteframe-z2 filter-whiteframe-context">
                        <md-context>
                            <div layout="row" class="filter-context">
                                <div flex="40" layout="row" layout-align="center start">
                                    <md-select ng-model="queryFaculty" placeholder="Выбрать факультет">
                                        <md-option ng-value="faculty.facultyName" ng-repeat="faculty in faculties">{{ faculty.facultyName }}</md-option>
                                    </md-select>
                                    <md-select ng-model="querySpeciality" placeholder="Выбрать специальность">
                                        <md-option ng-value="speciality.specialityName" ng-repeat="speciality in specialities | filter:queryFaculty">{{ speciality.specialityName }}</md-option>
                                    </md-select>
                                </div>
                                <div flex="20" layout="row" layout-align="center start">
                                    <md-input-container >
                                        <label>Имя или фамилия</label>
                                        <input ng-model="filterModel">
                                    </md-input-container>
                                </div>
                                <div flex="30" layout="row" layout-align="center center">
                                    <div layout="row" layout-align="center">Страница {{pager.currentPage}} of {{pager.foundPages}}. Всего студентов:  {{pager.found}}</div>
                                </div>
                                <div flex="10" layout="row" layout-align="center center">
                                    <md-button class="md-fab md-mini md-primary" download="dataStudentsBySpeciality.xls" aria-label="Выход" href="" class="md-icon-button" onclick="return ExcellentExport.excel(this, 'dataStudentsBySpeciality', 'Sheet Name Here');">
                                        <md-icon md-svg-src="img/icons/arrow-down-bold.svg"></md-icon>
                                        <md-tooltip md-direction="right" style="margin-left: 10px;">
                                            Выгрузить в Excel
                                        </md-tooltip>
                                    </md-button>
                                </div>
                            </div>
                        </md-context>
                    </md-whiteframe>
                </div>
                <div layout="row" layout-align="center center">
                    <md-whiteframe class="md-whiteframe-z2 table-context">
                        <md-content layout-padding class="data-context">
                            <solo-table items-on-page = "15" make-sortable>
                                <!-- Эта таблица обязательно  должна присутствовать в директиве solo-table, что, в общем то, очевидно. -->
                                <table id="dataStudentsBySpeciality"  class="table table-striped table-bordered" >
                                    <thead>
                                    <tr>
                                        <th sort-by='lastName'>Фамилия Имя Отчество</th>
                                        <th sort-by='group.course.courseName' >Курс</th>
                                        <th sort-by='group.speciality.faculty.facultyName'>Факультет</th>
                                        <th sort-by='group.speciality.specialityName'>Специальность</th>
                                        <th sort-by='studyForm'>Форма обучения</th>
                                        <th sort-by='orderNumber'>Номер приказа</th>
                                        <th sort-by='country.countryName'>Страна</th>
                                        <th sort-by='pasportNumber'>Паспортные данные</th>
                                        <th sort-by='registrationAddress'>Адресс регистрации</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tr ng-repeat="item in filtered = (original | filter: querySpeciality | filter:queryFaculty | filterByFields:filterModel:['lastName', 'firstName'])" >
                                        <td>{{item.lastName}} {{item.firstName}} {{item.middleName}}</td>
                                        <td>{{item.group.course.courseName}}</td>
                                        <td>{{item.group.speciality.faculty.facultyName}}</td>
                                        <td>{{item.group.speciality.specialityName}}</td>
                                        <td>{{item.studyForm}}</td>
                                        <td>{{item.orderNumber}}</td>
                                        <td>{{item.country.countryName}}</td>
                                        <td>{{item.pasportNumber}}</td>
                                        <td>{{item.registrationAddress}}</td>
                                        <!--<td><md-icon icon="img/icons/ic_border_color_24px.svg"></md-icon></td>-->
                                    </tr>

                                </table>
                            </solo-table>
                        </md-content>
                    </md-whiteframe>
                </div>
                <div layout="row" layout-align="center" class="pager-content">
                    <div flex="50">
                        <label style="padding-top: 5px"> Студентов на странице </label>
                        <input type="number" min="1" min="999999" placeholder="число" type="text" name="onpage" ng-model="len" ng-change="pager.setOnPage(len)" style="width: 120px; padding: 3px; margin: 3px;" class="ng-valid ng-dirty">
                        <label style="padding-top: 5px"> или </label>
                        <select  name="op" id="op" ng-model="op" ng-change="pager.setOnPage(op)" class="ng-valid ng-dirty" style="margin: 3px;">
                            <option value="">выбрать</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                    <div  flex="50">
                        <a href="" ng-click="gotoFirstPage()">Первая страница | </a>
                        <a href="" ng-click="gotoPrevPage()"> &larr;назад | </a>
                        <a href="" ng-click="gotoNextPage()">вперед &rarr; | </a>
                        <a href="" ng-click="gotoLastPage()">Последняя страница </a>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
        <md-tab label="По странам">
            <md-tab-body>
                <div layout="row" layout-align="center center">
                    <md-whiteframe class="md-whiteframe-z2 filter-whiteframe-context">
                        <md-content>
                            <div layout="row">
                                <div flex="40" layout="row" layout-align="center start">
                                    <md-select ng-model="queryCountry" placeholder="Выбрать страну">
                                        <md-option ng-value="country.countryName" ng-repeat="country in countries">{{ country.countryName }}</md-option>
                                    </md-select>
                                </div>
                                <div flex="20" layout="row" layout-align="center center">
                                    <md-input-container >
                                        <label>Имя или фамилия</label>
                                        <input ng-model="filterModel">
                                    </md-input-container>
                                </div>
                                <div flex="30"layout="row" layout-align="center center">
                                    <div layout="row" layout-align="center center">Страница {{pager.currentPage}} of {{pager.foundPages}}. Всего студентов:  {{pager.found}}</div>
                                </div>
                                <div flex="10" layout="row" layout-align="center center">
                                    <md-button  class="md-fab md-mini md-primary" download="dataStudentsByCountry.xls" aria-label="Выход"  href="" class="md-icon-button" onclick="return ExcellentExport.excel(this, 'dataStudentsByCountry', 'Sheet Name Here');">
                                        <md-icon md-svg-src="img/icons/arrow-down-bold.svg"></md-icon>
                                        <md-tooltip md-direction="right">
                                            Выгрузить в Excel
                                        </md-tooltip>
                                    </md-button>
                                </div>
                            </div>
                        </md-content>
                    </md-whiteframe>
                </div>
                <div layout="row" layout-align="center center">
                    <md-whiteframe class="md-whiteframe-z2 table-context">
                        <md-content layout-padding class="data-context">
                            <solo-table items-on-page = "15" make-sortable>
                                <table id="dataStudentsByCountry" class="table table-striped table-bordered" >
                                    <thead>
                                    <tr>
                                        <th sort-by='lastName'>Фамилия Имя Отчество</th>
                                        <th sort-by='group.course.courseName'>Курс</th>
                                        <th sort-by='group.speciality.specialityName'>Специальность</th>
                                        <th sort-by='orderNumber'>Номер приказа</th>
                                        <th sort-by='pasportNumber'>Паспортные данные</th>
                                        <th sort-by='registrationAddress'>Адресс регистрации</th>
                                        <th sort-by='birthPlace'>Место рождения</th>
                                        <th sort-by='incomingRbDate'>Дата въезда в РБ</th>
                                    </tr>
                                    </thead>
                                    <tr ng-repeat="item in filtered = (original | filter:queryCountry | filterByFields:filterModel:['lastName', 'firstName'])" >
                                        <td>{{item.lastName}} {{item.firstName}} {{item.middleName}}</td>
                                        <td>{{item.group.course.courseName}}</td>
                                        <td>{{item.group.speciality.specialityName}}</td>
                                        <td>{{item.orderNumber}}</td>
                                        <td>{{item.pasportNumber}}</td>
                                        <td>{{item.registrationAddress}}</td>
                                        <td>{{item.birthPlace}}</td>
                                        <td>{{item.incomingRbDate}}</td>
                                    </tr>

                                </table>
                            </solo-table>
                        </md-content>
                    </md-whiteframe>
                </div>
                <!--Здесь реализован переход по страницам-->
                <div layout="row" layout-align="center" class="pager-content">
                    <div flex="50">
                        <label style="padding-top: 5px"> Студентов на странице </label>
                        <input type="number" min="1" min="999999" placeholder="число" type="text" name="onpage" ng-model="len" ng-change="pager.setOnPage(len)" style="width: 120px; padding: 3px; margin: 3px;" class="ng-valid ng-dirty">
                        <label style="padding-top: 5px"> или </label>
                        <select  name="op" id="op" ng-model="op" ng-change="pager.setOnPage(op)" class="ng-valid ng-dirty" style="margin: 3px;">
                            <option value="">выбрать</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                    <div  flex="50">
                        <a href="" ng-click="gotoFirstPage()">Первая страница | </a>
                        <a href="" ng-click="gotoPrevPage()"> &larr;назад | </a>
                        <a href="" ng-click="gotoNextPage()">вперед &rarr; | </a>
                        <a href="" ng-click="gotoLastPage()">Последняя страница </a>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
       <!-- <md-tab label="three">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Three</h1>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
            </md-content>
        </md-tab>-->
    </md-tabs>
</div>
