<table class="table table-striped table-bordered" >
    <thead>
    <tr>
        <th>Группа</th>
        <th>Курс</th>
        <th>Факультет</th>
        <th>Специальность</th>
        <th></th>
    </tr>
    </thead>
    <tr ng-repeat="item in (groups | filter:querySpeciality | filter:queryCourse)" >
        <td>{{item.groupName}}</td>
        <td>{{item.course.courseName}}</td>
        <td>{{item.speciality.faculty.facultyName}}</td>
        <td>{{item.speciality.specialityName}}</td>
        <td>
            <md-button ng-show="hasRole('admin')" class="md-icon-button" ng-click="showCreateGroupForm($event)" aria-label="Comment">
                <md-icon md-svg-src="img/icons/pencil.svg"></md-icon>
                <md-tooltip md-direction="right">
                    Изменить группу {{item.groupName}}
                </md-tooltip>
            </md-button>
            <!--<a href="#!/editGroup/{{item.id}}" class="btn btn-xs btn-default" ng-show="hasRole('admin')">
                <md-icon style="color: gray" md-svg-icon="img/icons/pencil.svg"></md-icon>
                <md-tooltip md-direction="right">
                    Изменить данные {{item.lastName}}
                </md-tooltip>
            </a>-->
        </td>
    </tr>
</table>