<md-dialog aria-label="Группа">
    <form name="groupForm">
        <md-dialog-content class="sticky-container">
            <md-subheader md-theme="indigo" class=" md-sticky-no-effect">Группа</md-subheader>
            <md-content class="md-padding">
                <div layout-md="column">
                    <md-input-container>
                        <label>Название группы</label>
                        <input md-maxlength="30" required name="group" ng-model="group.groupName">
                        <div class="errors" ng-messages="groupForm.group.$error">
                            <div ng-message="required">Обязательно для заполнения</div>
                            <div ng-message="md-maxlength">Мах 30 символов</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <md-select name="course" required ng-model="group.course.id">
                            <md-option ng-value="">Курс</md-option>
                            <md-option ng-value="course.id" ng-repeat="course in courses">{{ course.courseName }}</md-option>
                        </md-select>
                        <div class="errors" ng-messages="groupForm.course.$error" ng-if="specialityForm.$dirty">
                            <div ng-message="required">Необходимо выбрать</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <md-select name="faculty" ng-model="group.speciality.faculty.facultyName">
                            <md-option ng-value="">Факультет</md-option>
                            <md-option ng-value="faculty.facultyName" ng-repeat="faculty in faculties">{{ faculty.facultyName }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <md-select name="speciality" required ng-model="group.speciality.id">
                            <md-option ng-value="">Специальность</md-option>
                            <md-option ng-value="speciality.id" ng-repeat="speciality in specialities | filter:group.speciality.faculty.facultyName">{{ speciality.specialityName }}</md-option>
                        </md-select>
                        <div class="errors" ng-messages="groupForm.speciality.$error" ng-if="specialityForm.$dirty">
                            <div ng-message="required">Необходимо выбрать</div>
                        </div>
                    </md-input-container>
                </div>
            </md-content>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" class="md-raised md-warn">
                Отмена
            </md-button>
            <md-button ng-click="saveGroup()" ng-disabled="groupForm.$invalid" class="md-raised md-primary">
                Сохранить
            </md-button>
        </div>
    </form>
</md-dialog>

